* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.asas {
    margin: 5%;
}

.sign-up {
    margin-left: 30%;
    margin-bottom: 6%;
    margin-right: 30%;
    border: 2px solid aqua;
    margin-bottom: 3%;
    padding-bottom: 3%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.sign-up label {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    font-size: 1.2vw;
    margin-left: 14%;
    margin-top: 2%;
}

.sign-up input {
    padding: 5px;
    margin-top: 1%;
    padding-right: 2px;
    font-size: 15px;
    width: 70%;
    margin-left: 14%;
    color: rgb(0, 0, 0);
    background-color: aqua;
}

.sign-up h2 {
    text-align: center;
    margin-top: 7%;
    color: aqua;
}

.sign-up h3 {
    text-align: center;
    margin-bottom: 3%;
}

.sign-up a {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: aqua;
    padding: 1%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 5px;
    margin-left: 37%;
}

.sign-up button {
    background-color: aqua;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin-left: 35%;
    margin-top: 8%;
    padding: 2% 7% 2% 7%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.already {
    text-align: center;
    font-size: 15px;
}

.already p {
    color: aqua;
}

.already a {
    background-color: aqua;
    color: black;
    padding: .5% 1% .5% 1%;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width:800px) {
    .asas {
        margin-top: 20%;
    }
    .sign-up {
        margin: 5%;
    }
    .sign-up label {
        font-family: Arial, Helvetica, sans-serif;
        color: aqua;
        font-size: 13px;
        margin-left: 14%;
        margin-top: 2%;
    }
    .sign-up input {
        padding: 3px;
        margin-top: 1%;
        padding-right: 2px;
        font-size: 13px;
        width: 70%;
        margin-left: 14%;
        color: rgb(0, 0, 0);
        background-color: aqua;
    }
    .sign-up h2 {
        text-align: center;
        margin-top: 7%;
        color: aqua;
        font-size: 15px;
    }
    .sign-up a {
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        color: aqua;
        padding: 1%;
        padding-left: 7%;
        padding-right: 7%;
        border-radius: 5px;
        margin-left: 37%;
    }
    #button {
        margin: 8% 0 5% 0;
        font-size: 13px;
        margin-left: 37%;
        padding: 1% 5% 1% 5%;
        border-radius: 5px;
        cursor: pointer;
    }
    .already {
        text-align: center;
        font-size: 13px;
    }
    .already p {
        color: aqua;
    }
    .already a {
        background-color: aqua;
        color: black;
        padding: 1% 3% 1% 3%;
        font-size: 13px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
}

@media screen and (max-width:667px) {
    .asas {
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #button {
        font-size: 13px;
        margin-left: 36%;
    }
}


/*IPHO XR*/

@media screen and (max-width:896px) {
    .asas {
        margin-top: 30%;
        margin-bottom: 15%;
    }
}


/*IPHONE 12 PRO*/

@media screen and (max-width:844px) {
    .asas {
        margin-top: 26%;
        margin-bottom: 15%;
    }
}


/*SAMSUNG GALAXY S8+*/

@media screen and (max-width:740px) {
    .asas {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}


/*SAMSUNG GALAXY S20 ULTRA*/

@media screen and (max-width:915px) {
    .asas {
        margin-top: 33%;
        margin-bottom: 15%;
    }
}


/*IPAD AIR*/

@media screen and (max-width:1180px) {
    .asas {
        margin-top: 18%;
    }
    .sign-up {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .sign-up h2 {
        text-align: center;
        margin-top: 7%;
        color: aqua;
        font-size: 18px;
    }
    .sign-up label {
        font-family: Arial, Helvetica, sans-serif;
        color: aqua;
        font-size: 15px;
        margin-left: 14%;
        margin-top: 2%;
    }
    .sign-up input {
        padding: 5px;
        margin-top: 1%;
        padding-right: 2px;
        font-size: 15px;
        width: 70%;
        margin-left: 14%;
        color: rgb(0, 0, 0);
        background-color: aqua;
    }
    #button {
        margin: 10% 2% 5% 2%;
        font-size: 15px;
        margin-left: 38%;
        padding: 1% 5% 1% 5%;
        border-radius: 5px;
        cursor: pointer;
    }
    .already {
        text-align: center;
        font-size: 15px;
    }
    .already p {
        color: aqua;
    }
    .already a {
        background-color: aqua;
        color: black;
        padding: 1% 3% 1% 3%;
        font-size: 15px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
}